---
interface Props {
  pokemonId: string;
}

const { pokemonId } = Astro.props;

const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonId}`);
const pokemon = await response.json();
---

<div class="card border bg-base-100 shadow-xl">
  <figure>
    <img
      src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemonId}.png`}
      alt=""
      width={200}
      height={200}
      class="size-[200px]"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}
    </h2>
    <p>Pokedex ID: {pokemonId}</p>
    <p>Peso: {pokemon.weight}</p>
    <p>Altura: {pokemon.height}</p>
    <div class="card-actions justify-end"></div>
  </div>
</div>
